
<FlexboxLayout class="page">
	<StackLayout class="form">

		<!-- Logo and APP name -->
		<Image class="logo" src="~/images/logo.jpg"></Image>
		<Label class="header" text="Work Flow APP"></Label>
		
		<PreviousNextView>
			<GridLayout rows="auto, auto, auto">

				<!-- Input field for user username -->
				<StackLayout row="1" class="input-field">
					<TextField class="input" [isEnable]="!processing" hint="Username" [(ngModel)]="user.username"></TextField>
					<StackLayout class="hr-light"></StackLayout>
				</StackLayout>

				<!-- Input field for user password -->
				<StackLayout row="2" class="input-field">
					<TextField class="input"  [isEnabled]="!processing" hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
					<StackLayout class="hr-light"></StackLayout>
				</StackLayout>
			</GridLayout>
		</PreviousNextView>

		<ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
		
		<Button text="Log In" [isEnabled]="!processing" (tap)="submit()" class="btn btn-primary m-t-20" backgroundColor="red"></Button>

	</StackLayout>
</FlexboxLayout>